<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mappers.MemberMapper">
	<select id="selectById" resultType="MemberVO">
		select * from pmember where id=#{id}
	</select>
	
	<insert id="insert">
		insert into pmember values(0, #{name}, #{id}, #{pw}, #{mail}, #{phone})
	</insert>
	
	<insert id="addAttach">
		insert into pattach(fullName, mno) values(#{fullName}, #{mno})
	</insert>
	
	<select id="getAttach" resultType="string">
		select fullName from pattach where mno=#{mno} order by regdate
	</select>
	
	<delete id="deleteAttach">
		delete from pattach where mno=#{mno}
	</delete>

</mapper>